#particles-js {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
}

@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,600';

.icon {
  width: 100px; /* Set the width and height of the circle */
  height: 100px;
  background-color: purple; /* Set the background color to purple */
  border-radius: 50%; /* Make it a circle by setting border-radius to 50% */
  display: flex;
  justify-content: center;
  align-items: center;
}

    /* You can change the icon's color, size, and style here */
.icon i {
  font-size: 24px; /* Adjust the icon size as needed */
  color: white; /* Set the icon color to white */
}


/* Custom styles for the entire alert container */
.custom-swal-container {
  background-color: #ff002f; /* Change the background color */
  color: #ff002f; /* Change the text color */
}

/* Custom styles for the title */
.custom-swal-title {
  font-size: 60px; /* Change the font size */
}

/* Custom styles for the content */
.custom-swal-content {
  font-size: 50px; /* Change the font size */
}

/* Custom styles for the confirm button */
.custom-swal-confirm-button {
  background-color: #ff002f; /* Change the button background color */
  color: #ff002f; /* Change the button text color */
}

.video-container {
   border-radius: 20px;
   overflow: hidden; /* Clips the video to the rounded shape */
   margin: 0 auto; /* Center horizontally */
   display: flex;
   justify-content: center; /* Center horizontally (alternative) */
   align-items: center; /* Center vertically */
}

.video-container iframe {
   border-radius: 20px;
   width: 100%;
   height: 100%;
}

.custom-social-proof {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 9999999999999!important;
    font-family: open sans,sans-serif;
}

.custom-social-proof .custom-notification {
    width: 320px;
    border: 0;
    text-align: left;
    z-index: 99999;
    box-sizing: border-box;
    font-weight: 400;
    border-radius: 6px;
    box-shadow: 2px 2px 10px 2px rgba(11,10,10,.2);
    background-color: #0f0f0f;
    position: relative;
    cursor: pointer;
}

.custom-social-proof .custom-notification .custom-notification-container {
    display: flex!important;
    align-items: center;
    height: 80px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-image-wrapper img {
    max-height: 75px;
    width: 90px;
    overflow: hidden;
    border-radius: 6px 0 0 6px;
    object-fit: cover;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper {
    margin: 0;
    height: 100%;
    color: gray;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 0 6px 6px 0;
    flex: 1;
    display: flex!important;
    flex-direction: column;
    justify-content: center;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content {
    font-family: inherit!important;
    margin: 0!important;
    padding: 0!important;
    font-size: 14px;
    line-height: 16px;
}

.custom-social-proof .custom-notification .custom-notification-container .custom-notification-content-wrapper .custom-notification-content small {
    margin-top: 3px!important;
    display: block!important;
    font-size: 12px!important;
    opacity: .8;
}

.custom-social-proof .custom-notification .custom-close {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 12px;
    width: 12px;
    cursor: pointer;
    transition: .2s ease-in-out;
    transform: rotate(45deg);
    opacity: 0;
}

.custom-social-proof .custom-notification:hover .custom-close {
    opacity: 1;
}

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.carousel-caption {
    bottom: 220px;
}

.carousel-caption h5 {
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: merienda;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    font-family: poppins;
}

.carousel-caption a {
    text-transform: uppercase;
    background: #262626;
    padding: 10px 30px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
}

.navbar-nav a {
    font-family: poppins;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link.active,.navbar-light .navbar-nav .nav-link.show,.navbar-light .navbar-nav .show>.nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav {
    text-align: center;
}

.nav-link {
    padding: .2rem 1rem;
}

.nav-link.active,.nav-link:focus {
    color: #fff;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: .3;
    background: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

.w-100 {
    height: 100vh;
}

@media only screen and (max-width:767px) {
    .navbar-nav.ml-auto {
        background: rgba(0,0,0,.5);
    }

    .navbar-nav a {
        font-size: 14px;
        font-weight: 400;
    }
}

@import 'https://fonts.googleapis.com/css?family=Exo:400,700';

.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255,255,255,.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}

.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.new-gradient {
    background: #2b6cff;
    background: linear-gradient(172deg,rgb(0 0 0 / 82%) 5%,rgb(4 0 255 / 30%) 95%);
}

@keyframes glide {
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    0% {
        transform: translateY(0);
    }
}

.bl3 {
    animation: glide 6s ease-in-out infinite;
    width: 80%;
}

.box3 {
    width: 58%;
    margin-top: 185px;
    float: left;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #403c3c;
}

::-webkit-scrollbar-thumb {
    background: #2b6cff;
    background: linear-gradient(172deg,rgb(0 61 199) 5%,rgb(0 17 53) 95%);
    border-radius: 8px;
}

.addcard {
    box-shadow: 0 0 10px 1px rgba(0,0,0,.1);
}

body {
    background: linear-gradient(50deg,#000000 0,#000000 100%)!important
}

.starter {
    background-color: #0e20c9;
    border: none;
    color: #fff;
    text-align: center;
    padding: 24px 32px;
    transition: all .5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0,0,0,.7);
    font-size: 1.2em;
}

.starter {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: .5s;
}

.starter:after {
    content: '→';
    position: absolute;
    opacity: 0;
    top: 19.7px;
    right: -24px;
    transition: .5s;
    font-size: 1.2em;
}

.starter:hover {
    padding-right: 50px;
    padding-left: 16px;
    font-size: 1.2em;
    transform: scale(1.05);
}

.starter:hover:after {
    opacity: 1;
    right: 12px;
}

.starter:active {
    transform: scale(1.01);
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
    margin: auto;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #fff;
    padding: 17px 0;
    background: 0 0;
    transition: border-color .2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: .2s;
    font-size: 1rem;
    color: #9b9b9b;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(172deg,rgba(43,108,255,1) 5%,rgba(3,1,136,1) 95%);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: .2s;
    font-size: 1rem;
    color: #2b6cff;
    font-weight: 700;
}

.form__field:required,.form__field:invalid {
    box-shadow: none;
}

.overbg {
    background: linear-gradient(50deg,#273444 0,#272b44 100%)!important;
    z-index: 100!important;
}

.progress_bar {
    margin: auto;
    width: 450px;
    max-width: 80%;
    height: 15px;
    box-shadow: 0 0 4px #ffffffd1;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    display: none;
}

.progress_bar:before {
    content: '';
    width: 200%;
    height: 100%;
    position: absolute;
    animation: progress-anime 90s ease-out;
    background: linear-gradient(to right,#1f9aff 0%,#071cda 50%,#d2d2d2 50%,#d2d2d2 100%);
}

@keyframes progress-anime {
    0% {
        left: -100%;
    }

    75% {
        left: -5%;
    }

    85% {
        left: -5%;
    }

    95% {
        left: 0;
    }
}
